<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul style="line-height: 200%">
    <li><a href="/problema1?a=123&b=456">a题第一问   该请求为"/problema1?a=123&b=456"</a></li>
    <li><a href="/problema2/999/888">a题第二问   该请求为"/problema1/999/888"</a></li>
    <li><a href="/problema">a题第三问</a></li>
    <li><a href="/sessionadd?para=10">b题 该请求为"/sessionadd?para=10"</a></li>
    <li><a href="/first">图书馆登录页面</a></li>
    <li><a href="/book">图书馆图书列表页面</a></li>
    <li><a href="/newbook">图书馆新增图书页面</a></li>
</ul>
</body>
</html>